@variants hover {
  .menu-active {
    color: #F2F2F2 !important;
  }
}

@responsive {
  .our-client {
    width: 150%;
  }
  .height-640 {
    height: 640px;
  }
  .width-420 {
    width: 420px;
  }
  .title-left {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    &::after  {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      right: initial;
      transform: translateX(0%);
      display: block;
      height: 2px;
      width: 60%;
      background-color: #C4BEBE;
    }
  }
  .title-right {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    &::after  {
      content: "";
      position: absolute;
      top: 100%;
      left: initial;
      right: 0;
      transform: translateX(0%);
      display: block;
      height: 2px;
      width: 60%;
      background-color: #C4BEBE;
    }
  }
  .title-center {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    &::after  {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      height: 2px;
      width: 60%;
      background-color: #C4BEBE;
    }
  }
}

section {
  padding-top: 2.5rem;
}